<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin invitation</title>
</head>
<body>
<h1 th:text="Hello"></h1>
<div class="email-content">
    <p>
ADMIN INVITATION    </p>
    <p style="text-align: center;">
        <a th:href="'http://localhost:8081/api/admin/invite/verify/' + ${token}"
           href="http://localhost:8081/api/admin/invite/verify/[token]"
           class="verification-link">
            INVITATION
        </a>
    </p>
</div>
</body>
</html>